<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Color mapping -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <property name="PATTERN" value="%d{HH:mm:ss.SSS} %clr(%5p) [%clr(%logger{36})] - %msg%n%wex"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Application logs -->
    <logger name="com.azki.reservation" level="DEBUG"/>

    <!-- Spring logs -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <!-- Hibernate SQL -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

    <!-- Exception logs -->
    <logger name="org.springframework.boot.autoconfigure.web.servlet.error" level="ERROR"/>
    <logger name="org.springframework.boot.web.servlet.error" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
